<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <import resource="hibernate.cfg.xml"/>
    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="userAction" class="com.actions.UserAction" scope="prototype">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="userDao" class="com.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
   <bean id="userService" class="com.service.serviceImpl.UserServiceImpl">
       <property name="userDao" ref="userDao"/>
       <property name="topicDao" ref="topicDao"/>
   </bean>

    <bean id="topicAction" class="com.actions.TopicAction" scope="prototype">
        <property name="topicService" ref="topicService"/>
        <property name="teacherService" ref="teacherService"/>
        <property name="studentService" ref="studentService"/>
    </bean>
    <bean id="topicDao" class="com.dao.impl.TopicDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="topicStatusDao" class="com.dao.impl.TopicStatusDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="topicFinalInfoDao" class="com.dao.impl.TopicFinalInfoDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="topicThirdSugDao" class="com.dao.impl.TopicThirdSugDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="topicProcessDao" class="com.dao.impl.TopicProcessDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="topicCheckProcessDao" class="com.dao.impl.TopicCheckProcessDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="topicService" class="com.service.serviceImpl.TopicServiceImpl">
        <property name="topicDao" ref="topicDao"/>
        <property name="topicStatusDao" ref="topicStatusDao"/>
        <property name="topicThirdSugDao" ref="topicThirdSugDao"/>
        <property name="reportDao" ref="reportDao"/>
        <property name="topicFinalInfoDao" ref="topicFinalInfoDao"/>
        <property name="topicCheckProcessDao" ref="topicCheckProcessDao"/>
        <property name="topicProcessDao" ref="topicProcessDao"/>
    </bean>

    <bean id="messageAction" class="com.actions.MessageAction" scope="prototype">
        <property name="messageService" ref="messageService"/>
    </bean>
    <bean id="messageDao" class="com.dao.impl.MessageDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="messageService" class="com.service.serviceImpl.MessageServiceImpl">
        <property name="messageDao" ref="messageDao"/>
    </bean>

    <bean id="studentAction" class="com.actions.StudentAction">
        <property name="studentService" ref="studentService"/>
        <property name="topicService" ref="topicService"/>
        <property name="messageService" ref="messageService"/>
    </bean>

    <bean id="studentService" class="com.service.serviceImpl.StudentServiceImpl">
        <property name="studentDao" ref="studentDao"/>
        <property name="userDao" ref="userDao"/>
        <property name="topicDao" ref="topicDao"/>
        <property name="topicProcessDao" ref="topicProcessDao"/>
        <property name="topicThirdSugDao" ref="topicThirdSugDao"/>
        <property name="topicFinalInfoDao" ref="topicFinalInfoDao"/>
        <property name="topicStatusDao" ref="topicStatusDao"/>
    </bean>
    <bean id="studentDao" class="com.dao.impl.StudentDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="teacherAction" class="com.actions.TeacherAction">
        <property name="teacherService" ref="teacherService"/>
        <property name="topicService" ref="topicService"/>
        <property name="studentService" ref="studentService"/>
        <property name="messageService" ref="messageService"/>
    </bean>

    <bean id="teacherService" class="com.service.serviceImpl.TeacherServiceImpl">
        <property name="teacherDao" ref="teacherDao"/>
        <property name="userDao" ref="userDao"/>
        <property name="topicDao" ref="topicDao"/>
        <property name="topicCheckProcessDao" ref="topicCheckProcessDao"/>
        <property name="studentDao" ref="studentDao"/>
        <property name="topicStatusDao" ref="topicStatusDao"/>
    </bean>
    <bean id="teacherDao" class="com.dao.impl.TeacherDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="reportDao" class="com.dao.impl.ReportDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="adminAction" class="com.actions.AdminAction">
        <property name="studentService" ref="studentService"/>
        <property name="teacherService" ref="teacherService"/>
        <property name="topicService" ref="topicService"/>
        <property name="userService" ref="userService"/>
        <property name="messageService" ref="messageService"/>
    </bean>

</beans>